<div *ngIf="loginService.validateRoles(['ROLE_ADMIN'])">
  <p>Izmena korinsika</p>
  <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
    <div>
      <label for="">Korisnik id:</label>
      <input
        type="number"
        name="id"
        #id="ngModel"
        [(ngModel)]="korisnik.id"
        [ngClass]="{ invalid: id.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Username:</label>
      <input
        type="text"
        name="username"
        #username="ngModel"
        [(ngModel)]="korisnik.username"
        [ngClass]="{ invalid: username.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Password:</label>
      <input
        type="text"
        name="password"
        #password="ngModel"
        [(ngModel)]="korisnik.password"
        [ngClass]="{ invalid: password.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Role:</label>
      <!-- <select name="roles" [(ngModel)]="korisnik.roles">
        <option *ngFor="let r of roles" [ngValue]="r.role">
          {{ r.role }}
        </option>
      </select> -->
      <div cdkDropListGroup>
        <div class="example-container">
          <h2>Trenutne uloge</h2>

          <div
            cdkDropList
            [cdkDropListData]="korisnik.roles"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of korisnik.roles"
              cdkDrag
            >
              {{ item }}
            </div>
          </div>
        </div>

        <div class="example-container">
          <h2>Sve uloge</h2>

          <div
            cdkDropList
            [cdkDropListData]="roles"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of roles" cdkDrag>
              {{ item.role }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="Izmeni" />
    </div>
  </form>
</div>
