<button
  *ngIf="loginService.validateRolesLogged()"
  (click)="this.loginService.logout()"
>
  Logout
</button>
<button (click)="dodavanje()" *ngIf="loginService.validateRolesLogged()">
  Dodavanje novog
</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Roles</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of roles">
      <td>{{ r["id"] }}</td>
      <td>{{ r["title"] }}</td>
      <td>{{ r["role"] }}</td>
      <td>
        <button
          (click)="brisanje(r)"
          *ngIf="loginService.validateRolesLogged()"
        >
          Brisanje
        </button>
        <button (click)="izmena(r)" *ngIf="loginService.validateRolesLogged()">
          Izmena
        </button>
        <button (click)="detalji(r)">Detalji</button>
      </td>
    </tr>
  </tbody>
</table>
