<div *ngIf="loginService.validateRolesLogged()">
  <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
    <div>
      <label for="">Rola id:</label>
      <input
        type="number"
        name="id"
        #id="ngModel"
        [(ngModel)]="rolaIzmena.id"
        [ngClass]="{ invalid: id.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Title:</label>
      <input
        type="text"
        name="title"
        #title="ngModel"
        [(ngModel)]="rolaIzmena.title"
        [ngClass]="{ invalid: title.invalid }"
        required
      />
    </div>
    <!-- <div>
          <label for="">Rola:</label>
          <input
            type="text"
            name="role"
            #role="ngModel"
            [(ngModel)]="novaRola.role"
            [ngClass]="{ invalid: role.invalid }"
            required
          />
        </div> -->
    <div>
      <input type="submit" value="Dodaj" />
    </div>
  </form>
</div>
